<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  
  <configSections>
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NetSatis.Entities.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
 
  
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <NetSatis.Entities.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="Hash" serializeAs="String">
        <value>NetSatis2020</value>
      </setting>
    </NetSatis.Entities.Properties.Settings>
  </userSettings>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>

      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager,                Microsoft.Practices.Unity" />

      <!-- User-defined type aliases -->
      <typeAlias alias="ILogger" type="AopIntroAttributeSample.Logger.ILogger, AopIntroAttributeSample" />
      <typeAlias alias="ConsoleLogger" type="AopIntroAttributeSample.Logger.ConsoleLogger, AopIntroAttributeSample" />
      <typeAlias alias="BasicFileLogger" type="AopIntroAttributeSample.Logger.BasicFileLogger, AopIntroAttributeSample" />
      <typeAlias alias="CompositeLogger" type="AopIntroAttributeSample.Logger.CompositeLogger, AopIntroAttributeSample" />

      <typeAlias alias="IExceptionHandler" type="AopIntroAttributeSample.Ex.IExceptionHandler, AopIntroAttributeSample" />
      <typeAlias alias="BasicExceptionHandler" type="AopIntroAttributeSample.Ex.BasicExceptionHandler, AopIntroAttributeSample" />

      <typeAlias alias="ICacheProvider" type="AopIntroAttributeSample.Cache.ICacheProvider, AopIntroAttributeSample" />
      <typeAlias alias="BasicCacheProvider" type="AopIntroAttributeSample.Cache.BasicCacheProvider, AopIntroAttributeSample" />
    </typeAliases>
    <container>
      <types>
        <type type="ILogger" mapTo="ConsoleLogger" name="ConsoleLoggerNm" />
        <type type="ILogger" mapTo="BasicFileLogger" name="BasicFileLoggerNm">
          <property name="LogPath" propertyType="string" value="C:\Sil" />
          <property name="DateTimePrefix" propertyType="string" value="yyyyMMdd" />
          <lifetime type="singleton" />
        </type>
      </types>
      <register type="ILogger" mapTo="CompositeLogger">
        <property name="FirstLogger">
          <dependency name="ConsoleLoggerNm" />
        </property>
        <property name="SecondLogger">
          <dependency name="BasicFileLoggerNm" />
        </property>
      </register>

      <!-- Direk ILogger tipine BasicFileLogger inject edersek kullan -->
      <!--<register type="ILogger" mapTo="BasicFileLogger">
        <property name="LogPath" propertyType="string" value="C:\Sil"/> 
        <property name="DateTimePrefix" propertyType="string" value="yyyyMMdd"/>
        <lifetime type="singleton" />
      </register>-->

      <register type="IExceptionHandler" mapTo="BasicExceptionHandler" />
      <register type="ICacheProvider" mapTo="BasicCacheProvider" />
    </container>
  </unity>
  
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>



</configuration>